<h1 class="display-4">Digital Storage</h1>
<div class="custom-header-border"></div>
<form class="d-flex flex-row align-items-end w-auto mb-3">
  <button type="submit" hidden="hidden">submit</button>
  <div class="flex-grow-1">
    <label for="searchTitle" class="col-form-label">
      Title
    </label>
    <input type="text" id="searchTitle" name="searchTitle"
           class="form-control" [(ngModel)]="searchParameters.productName"
           (ngModelChange)="loadStorage()"
    >
  </div>

  <div class="ms-1">
    <label for="fillLevel" class="col-form-label">
      Fill level
    </label>
    <select id="fillLevel" name="fillLevel"
            class="form-select" [(ngModel)]="searchParameters.fillLevel"
            (ngModelChange)="loadStorage()"
    >
      <option value="" selected>Any</option>
      <option value="full">High quantity</option>
      <option value="nearly_empty">Medium quantity</option>
      <option value="empty">Low quantity</option>

    </select>
  </div>

  <div class="ms-1 d-flex flex-column justify-content-end">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <input type="radio"
             class="btn-check"
             name="orderType"
             id="orderName"
             autocomplete="off"
             [checked]="searchParameters.orderBy === OrderType.GENERAL_NAME"
             [(ngModel)]="searchParameters.orderBy" [value]="OrderType.GENERAL_NAME"
             (ngModelChange)="loadStorage()">
      <label class="btn btn-outline-primary" for="orderName">Name</label>

      <input type="radio"
             class="btn-check"
             name="orderType"
             id="orderQuantity"
             autocomplete="off"
             [checked]="searchParameters.orderBy === OrderType.QUANTITY_CURRENT"
             [(ngModel)]="searchParameters.orderBy" [value]="OrderType.QUANTITY_CURRENT"
             (ngModelChange)="loadStorage()">
      <label class="btn btn-outline-primary" for="orderQuantity">Quantity</label>

      <app-sort-button class="btn btn-outline-primary"
                       [(isDescending)]="this.searchParameters.desc"
                       (isDescendingChange)="loadStorage()">
      </app-sort-button>
    </div>
  </div>
</form>

<div class="text-end">
  <button type="button"
          class="btn btn-primary"
          [routerLink]="['/item/create']">
    <i class="bi bi-plus-lg"></i>
    Add Item
  </button>
</div>

<div *ngIf="items.length > 0">
  <div class="row">
    <div class="col col-7 col-sm-8 col-md-10">
      <h1 class="display-5">In Stock Items</h1>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
    <div class="mb-3" *ngFor="let item of items">
      <a style="text-decoration: none"
         [routerLink]="[item.generalName]"
         [queryParams]="{stockType: 'in-stock'}"
         aria-label="Show item details">
        <app-item-card [title]="item.generalName" [quantity]="item.quantityCurrent" [quantityTotal]="item.quantityTotal"
                       [unit]="item.unit.name"
        ></app-item-card>
      </a>
    </div>
  </div>
</div>

<div *ngIf="itemsAIS.length > 0">
  <div class="row mt-4">
    <div class="col col-7 col-sm-8 col-md-10">
      <h1 class="display-5">Always in Stock Items</h1>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
    <div class="mb-3" *ngFor="let item of itemsAIS">
      <a style="text-decoration: none"
         [routerLink]="[item.generalName]"
         [queryParams]="{stockType: 'always-in-stock'}"
         aria-label="Show item details">
        <app-item-card [title]="item.generalName" [quantity]="item.quantityCurrent" [quantityTotal]="item.quantityTotal"
                       [unit]="item.unit.name"
        ></app-item-card>
      </a>
    </div>
  </div>
</div>
<h3 *ngIf="items.length <= 0 && itemsAIS.length <= 0" class="d-flex justify-content-center mt-5">
  <span *ngIf="searchParameters.fillLevel === ''">No items found in the storage.</span>
  <span *ngIf="searchParameters.fillLevel === 'full'">No items with a high quantity found in the storage.</span>
  <span *ngIf="searchParameters.fillLevel === 'nearly_empty'">No items with a medium quantity found in the storage.</span>
  <span *ngIf="searchParameters.fillLevel === 'empty'">No items with a low quantity found in the storage.</span>
</h3>
