<div class="container">

  <div class="row mb-2 mb-md-0">
    <div class="col col-9">
      <h1 class="display-4">Create New Chore</h1>
    </div>
    <div class="col mt-4 text-end">
      <button type="submit"
              class="btn btn-secondary ms-auto me-2 bi-ban"
              [routerLink]="['/chores/all']"
      >
        Cancel
      </button>
    </div>
  </div>

  <div class="custom-header-border"></div>

  <form #form="ngForm" (keydown.enter)="$event.preventDefault()" (submit)="onSubmit()">

    <div class="col-md-5 mb-3 mt-3 col-lg-auto text-end">
      <button type="submit"
              class="btn btn-primary ms-auto me-2"
              style="margin-top: 10px"
      >
        <i class="bi bi-plus-square"></i>
        Create
      </button>
    </div>

    <div class="row row-cols-1">

      <div class="row p-2">
        <label for="choreName"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Chore Name<span style="color: red">*</span>
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="text"
                 class="form-control"
                 id="choreName"
                 name="choreName"
                 placeholder="Chore Name"
                 [(ngModel)]="chore.name">
        </div>
      </div>

      <div class="row p-2">
        <label for="description"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Description
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="textfield"
                 class="form-control"
                 id="description"
                 name="description"
                 placeholder="Description"
                 [(ngModel)]="chore.description">
        </div>
      </div>

      <div class="row p-2">
        <label for="endDate"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Deadline<span style="color: red">*</span>
        </label>
        <div class="col-md-10 col-lg-8">
          <input type="date"
                 class="form-control"
                 id="endDate"
                 name="endDate"
                 [(ngModel)]="chore.endDate">
        </div>
      </div>

      <div class="row p-2">
        <label for="points"
               class="col-form-label text-muted col-md-2 col-lg-4"
        >
          Points
        </label>

        <div class="col-md-10 col-lg-8">
          <input type="number"
                 class="form-control"
                 id="points"
                 name="points"
                 placeholder="Points"
                 (input)="onPointsInputChange($event)"
                 [(ngModel)]="chore.points">
          <small id="pointsHelp" class="form-text text-muted">An integer number between 0 and 100.</small>
        </div>
      </div>
    </div>

  </form>

</div>
