/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  background-color: whitesmoke;
}

.custom-header-border {
  width: 100%;
  height: 100%;
  border: 1px black solid;
}
