<app-confirm-delete-dialog
  deleteInfo="recipe"
  [deleteName]="recipe.title"
  [deleteId]="recipe.id.toString()"
  (confirm)="delete()">
</app-confirm-delete-dialog>
<div class="card  mt-3 h-100" style="width: 20em; height: 16em">
  <div class="card-header text-black">
    <div class="row">
      <h5 class="card-title">{{getTruncated(recipe.title, 23)}}</h5>
    </div>
  </div>
  <!--  </div>-->
  <div class="card-body">
    <div style="height: 6rem">
      <p [innerHTML]=" getTruncatedSummary()">

      </p>
    </div>
    <div class="row" style="height: 2rem">
      <div class="col-6  ">
        <b>Servings: {{recipe.servings}}</b>
      </div>
      <div class="col-6  ">
        <b>Time: {{recipe.readyInMinutes}}min.</b>
      </div>
    </div>

    <div class="row justify-content-center h-100 ">
      <div class="col-3 mb-2 ">
        <button class="btn btn-outline-danger " data-bs-toggle="modal"
                [attr.data-bs-target]="'#confirm-delete-modal' + getIdFormatForDeleteModal(recipe)"
                aria-label="Delete recipe">Delete
        </button>
      </div>
      <div class="col-3 mb-2 ">
        <button class="btn btn-outline-info" (click)="detail()">Details</button>
      </div>
      <div class="col-3 mb-2">
        <button class="btn btn-outline-secondary" [routerLink]="[recipe.id, 'edit']">Edit</button>
      </div>
      <div class="col-3 mb-2">
        <button class="btn btn-success" (click)="cook()"
                ngbTooltip="Cooking this recipe will deduct the corresponding quantities from your storage items.">Cook
        </button>
      </div>
    </div>
  </div>
</div>

